.jblm-map{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-wrapper{
    width: 90vw;
    height: 50vh;
}

@media screen and (max-width: 426px) {
    .map-wrapper{
        width: 90vw;
        height: 50vh;

    }
}