.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    min-width: 40px;
    min-height: 40px;
    padding: 8px;
}

.button.regular {
    font-size: var(--font-size-medium);
    width: 100%;
    height: var(--spacing-large);
}

.button.small {
    font-size: var(--font-size-small);
}

.button.standard {
    background-color: var(--river-rock);
    color: var(--powder);
}

.button.text {
    background-color: transparent;
    color: var(--iron);
}

.button.text.add-button {
    color: var(--river-rock);
}

.button.text-centered {
    justify-content: center;
}

.button.text.underline {
    text-decoration: underline;
}

.button.completion {
    color: var(--iron);
    background-color: var(--mint);
}

.button.outline {
    background-color: var(--powder);
    font-weight: normal;
    border: solid 1px black;
    height: 48px;
    border-radius: 10px;
}

.button:disabled {
    opacity: 0.5;
}

.button:focus {
    outline: none;
}

.button-icon-container {
    display: flex;
    stroke: var(--iron);
    margin-right: var(--spacing-small);
}

.floating-button-container {
    position: fixed;
    left: var(--spacing-small);
    right: var(--spacing-small);
    bottom: var(--spacing-small);
}

.button-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

.button-holder > .button.text {
    justify-content: left;
}

.button-holder > .button.text-centered {
    justify-content: center;
}
