.floating-menu-container {
    position: fixed;
    bottom: var(--spacing-small);
    right: var(--spacing-small);
    z-index: 101;
}

.floating-menu-container--opened {
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: rgba(247, 247, 247, 0.8);
}

.floating-menu-buttons {
    position: fixed;
    bottom: var(--spacing-small);
    right: var(--spacing-small);
}

.floating-menu-container .button {
    border-radius: 50%;
    height: 79px;
    width: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.floating-button--clear button.button{
    background-color: transparent;
    color: var(--sockeye);
    font-size: var(--icon-font-size-large);
}

.floating-menu-container .button-icon-container {
    margin-right: 0px;
}

.floating-button .material-icons {
    font-size: var(--icon-font-size-large);
}

.floating-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 9px;
}

.floating-button label {
    margin-top: 20px;
}