.App {
  text-align: center;
}

.App-logo {
  max-width: 350px;
  height: auto;
  /*height: 300px;*/
  pointer-events: none;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 15px;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .SetUpProxy-logo {*/
/*    animation: SetUpProxy-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.background-container {
  border-radius: 5px;
  background-color: #282c34;
  /*padding: 20px;*/
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.form-container{
  display: flex;
  justify-content: center;
  gap: 70px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.App-header {
  background-color: #282c34;
  /*min-height: 50vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(7px + 2vmin);
  color: white;
}
.mod1-input{
  width: 22px;
  margin-left: 2px;
}
.mod2-input{
  width: 18px;
  margin-left:2px;
}

.grid-input{
  width: 39px;
  margin-left: 2px;
}
.App-link {
  color: #61dafb;
}

.checkButton-styling{
  text-align: center;
}

 /*Style label and input interaction */
.label-row {
  padding: .5em;
  display: flex;
  flex-flow: row wrap; /* default for flex-flow if not provided */
  justify-content: flex-end;
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /*vertical-align: top;*/

  /* Uniform text field size */
  /*box-sizing: border-box;*/

  /* Match form field borders */
  border: 1px solid #FF0000;
}

.grid-flow{
  padding: .5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /*vertical-align: top;*/

  /* Uniform text field size */
  /*box-sizing: border-box;*/

  /* Match form field borders */
  border: 1px solid #FF0000;
}

/*.grid-container{*/
/*  flex-flow: nowrap;*/
/*  justify-content: center;*/
/*}*/

@media screen and (max-width: 426px) {
  .label-row {
    flex-flow: column;
  }
}

@media screen and (max-width: 426px) {
.grid-flow{
  justify-content: center;
  flex-flow:column;

}
}

.display-table{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.input-button{
  width: 100px;
}


.unclass-banner{
  color: white;
  background-color: #28a745;
}

