table{
    font: 1em sans-serif;
    border-collapse: collapse;
    width: 200px;



}
.overflow{
    width: 290px;
    overflow-x:scroll;
    padding-bottom: 10px;
}
/* css  psuedoclass for making scrollbar visible"  for all scrollbars*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}


::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

td,th{
    font: 1em sans-serif;
    border: 1px solid #FF0000;
    padding: 0.5rem;
    text-align: left;

}

h2{
    font: 1em sans-serif;
    display: flex;
    justify-content: center;

}
.table-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}